<!DOCTYPE html>
<html ng-app="taskApp">
<head>
    <title>Task Manager</title>

    <!-- AngularJS CDN -->
    <script src="angular.min.js"></script>

    <script src="taskModule.js"></script>
</head>

<body ng-controller="taskCtrl">

<center>

<form ng-submit="addNewTask(newTask)">

    Task ID: <input type="text" ng-model="newTask.taskID"><br><br>
    Task Name: <input type="text" ng-model="newTask.taskName"><br><br>

    Status:
    <input type="radio" ng-model="newTask.status" value="Started"> Started
    <input type="radio" ng-model="newTask.status" value="In Progress"> In Progress
    <input type="radio" ng-model="newTask.status" value="Completed"> Completed
    <br><br>

    Date:
    <br>
    <input type="date" ng-model="newTask.date">
    <br>
    Category:
    <br>
        <select ng-model="newTask.category">
            <option value="Manager">Manager</option>
            <option value="Employee">Employee</option>
        </select>
    
    <br>
    Roles:
    <br>
        <input type="checkbox" ng-model="roles.employee"> Employee
        <input type="checkbox" ng-model="roles.manager"> Manager
        <input type="checkbox" ng-model="roles.owner"> Owner
    <br>
    <button type="submit" ng-disabled="editStat">Add Task</button>
    <button type="button" ng-click="updateTask(newTask)" ng-disabled="!editStat">Update Task</button>
</form>

    <table border="3">
    <tr>
        <th>Task ID</th>
        <th>Task Name</th>
        <th>Status</th>
        <th>Action</th>
        <th>Date</th>
        <th>Category</th>
        <th>Roles</th>
    </tr>

    <!-- <tr ng-repeat="item in task"> -->
    <!-- <tr ng-repeat="item in task | orderBy:'taskName' | limitTo:pageSize:currentPage*pageSize"> -->
    <!-- <tr ng-repeat="item in task | orderBy:'taskName':true | limitTo:pageSize:currentPage*pageSize"> -->

    <tr ng-repeat="item in task.slice(currentPage*pageSize, (currentPage+1)*pageSize)">
        <td>{{item.taskID}}</td>
        <td>{{item.taskName}}</td>
        <td>{{item.status}}</td>
        <td>{{item.date}}</td>
        <td>{{item.category}}</td>
        <td>{{item.roles.join(', ')}}</td>
        <td>
            <button ng-click="deleteTask(item.taskID)">Delete</button>
            <button ng-click="edit(item)">Edit</button>
        </td>
    </tr>
</table>

<br>
<!-- can remove -->
<button ng-click="prevPage()">Previous</button>
<button ng-click="nextPage()">Next</button>

<br>


</center>

</body>
</html>
